/* common star */
body{
    padding: 60px;
    margin: 0;
}
/* common end*/
/* header start */
header{
    padding: 12px 0px;
    border-bottom: 3px solid #eef0f3;
}
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.logo {
    width: 15%;
    
    float: left;
}
.logo img{
    width: 100%;
    height: 100px;
   

}

.menu {
    width: 45%;
    
    float: right;
    margin-top: 18px;
    
}
 
.menu ul{
    float: right;

}
.menu ul li{
    list-style: none;
    float: left;

}
.menu ul li a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0f2656;
    text-decoration: none;
   
    margin:10px 25px;
    display: inline-block;
    

}

.menu ul li:last-child a{
     margin-right: 0px;

}
/* header end */ 
.banner{
    padding: 60px 0;
} 

.container2{
    /* border: 1px solid red ; */
    width: 55%;
    margin: 0 auto;
    padding-bottom: 60px;
}
.b{
    text-align: center;
}

.b h1{
    font-family:sans-serif ;
    font-size: 50px ;
    font-weight:700 ;
    color: #091020;
}
.b h2{
    font-family:sans-serif ;
    font-size: 50px ;
    font-weight:700 ;
    color: #225bfa;
}
.b p {
    font-family:sans-serif ;
    font-size: 16px ;
    font-weight:400 ;
    color: #434750;
    padding: 0px 20px;
}
.b_img{
    margin: 0px auto;
    padding: 10px 0;
    width: 75%;

}
.b_img img{
    width: 100%;
}
.succes{}
.s{
    overflow: hidden;
}
.left{
    width: 50%;
    text-align: right;
    /* border: 1px solid #1a6be4; */
    float:left;
}
.left h2{
    padding-right: 20px;
    font-family:sans-serif ;
    font-size: 70px ;
    font-weight:700 ;
    color: #f55858;
    margin: 20px 10px;
}
.left p{
    margin: 20px 15px;
    font-family:sans-serif ;
    font-size: 16px ;
    font-weight:400 ;
    color: #2e3036;
}
.right{
    width: 49%;
    float: right;
    /* border: 1px solid #3b83f0; */
}
.right h1{
    padding-left: 20px;
    margin: 20px 10px;
    font-family:sans-serif ;
    font-size: 45px ;
    font-weight:700 ;
    color: #0c193b;
}
.t{}
.tt{}
.j{
    width: 30%;
    float: left;
}
.j img{}
.k{
    width: 30%;
    float: left;
}
.k img{}
.left{
    width: 30%;
    float: left;
}
.l img{}